
@{
    ViewData["Title"] = "Reporte Ventas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos{
        <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
        <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">
        <link rel="stylesheet" href="~/vendor/jquery-ui/jquery-ui.css" >

}
<!-- Content Wrapper -->


    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

                <div class="topbar-divider d-none d-sm-block"></div>

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                        <img class="img-profile rounded-circle"
                             src="https://images.unsplash.com/photo-1519648023493-d82b5f8d7b8a?w=300">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                         aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="perfil.html">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Perfil
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Salir
                        </a>
                    </div>
                </li>

            </ul>

        </nav>
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <div class="card shadow mb-4">
                <div class="card-header py-3 bg-second-primary">
                    <h6 class="m-0 font-weight-bold text-white">Reporte de Ventas</h6>
                </div>
                <div class="card-body">
                    <div class="form-row align-items-end">

                        <div class="form-group col-sm-3">
                            <label for="txtFechaInicio">Fecha Inicio</label>
                            <input type="text" class="form-control form-control-sm" id="txtFechaInicio">
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="txtFechaFin">Fecha Fin</label>
                            <input type="text" class="form-control form-control-sm" id="txtFechaFin">
                        </div>
                        <div class="form-group col-sm-3">
                            <button type="button" class="btn btn-primary btn-block btn-sm" id="btnBuscar"><i class="fas fa-search"></i> Buscar</button>
                        </div>
                    </div>

                    <hr />
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="tbdata" class="table table-sm table-striped" cellspacing="0" style="width:100%">
                                <thead>
                                    <tr>
                                        <th scope="col">Fecha Registro</th>
                                        <th scope="col">Numero Venta</th>
                                        <th scope="col">Tipo Documento</th>
                                        <th scope="col">Documento Cliente</th>
                                        <th scope="col">Nombre Cliente</th>
                                        <th scope="col">Sub Total Venta</th>
                                        <th scope="col">Impuesto Total Venta</th>
                                        <th scope="col">Total Venta</th>
                                        <th scope="col">Producto</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2021</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

<!-- End of Content Wrapper -->
@section Scripts{
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>

    <script src="~/vendor/jquery-ui/jquery-ui.js"></script>
        <script src="~/vendor/jquery-ui/idioma/datepicker-es.js"></script>

        <!-- SOLO ES DE EJEMPLO - IGNORAR -->
    <script src="~/js/vistas/datatables-demo.js"></script>
}